@import "../base/listas";

.servicios-grid-container > * {
    padding:  20px 50px;
}

.servicios-grid-container {
    margin: 10px 100px;
    display: grid ;
    gap: 10px;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas:  
    "servicios-introduccion" "sg-1 sg-2" "sg-3 sg-4" "sg-5 sg-6" "sg-7 sg-8" "sg-9 sg-10" "sg-11 sg-12"; 
    justify-self: center;
}

.sg-1 {grid-area: "sg-1";}

.sg-2 {grid-area: "sg-2";}

.sg-3 {grid-area: "sg-3";}

.sg-4 {grid-area: "sg-4";}

.sg-5 {grid-area: "sg-5";}

.sg-6 {grid-area: "sg-6";}

.sg-7 {grid-area: "sg-7";}

.sg-8 {grid-area: "sg-8";}

.sg-9 {grid-area: "sg-9";}

.sg-10 {grid-area: "sg-10";}

.sg-11 {grid-area: "sg-11";}

.sg-12 {grid-area: "sg-12";}


.sg-1 .sg-3 .sg-5 .sg-7 .sg-9 .sg-11  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.servicios-introduccion {
    grid-column: 1/-1;
}

.servicios-fotos {
    width: 150px;
    padding-bottom: 20px;
}

.servicios-grid-hijos-titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.accordion-button-clientes {
    position: relative;
    display: flex;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1.1rem;
    text-align: left;
    margin-left: -20px;
    border-radius: 0px;
    overflow-anchor: none;
    transition: color .15s ease-in-out, 2.15s ease-in-out, .15s ease-in-out,box-shadow .15s ease-in-out, .15s ease;
}

.accordion-clientes {
    background-color: nth($colores, 2);
    color: nth($colores, 4);
    &:hover {color: nth($colores, 5);}
}


.accordion-clientes-info {
    background-color: nth($colores, 3);
    padding: 20px;
}

.servicios-grid-hijos {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}


@media only screen and (max-width: 970px) {
.servicios-grid-container {
    margin: var(--responsive-margin);
    padding: var(--responsive-padding);
    text-align: center;
    grid-template:
    "servicios-introduccion" "sg-1" "sg-2" "sg-3" "sg-4" "sg-5" "sg-6" "sg-7 " "sg-8" "sg-9" "sg-10" "sg-11" "sg-12";
}

}